<div>
    <h3>Subject List</h3>

</div>

<table class="table table-sm" border="1" style="width: 50%;">
    <tr class="thead-dark">
    <th>
        SubjectId
    </th>
    <th>
        SubjectName
    </th>
  
</tr>  
<tr *ngFor="let subject of subjects">
    <td>{{subject.subjectId}}</td>
    <td>{{subject.subjectName}}</td>
   
</tr>    
</table>