
<div>
<h3>Class Search By Id</h3>
<input type="number" [(ngModel)]="id"/>
<button (click)="getClassById()">Fetch Class By Id</button>
<table class="table table-sm" border="1" style="width: 50%;">
<tr class="thead-dark">
    <tr>
        <th>
            ClassId
        </th>
        <th>
            ClassName
        </th>
        
    </tr>  
    <tr *ngFor="let class of classes">
        <td>{{class.classId}}</td>
        <td>{{class.className}}</td>
        
    </tr>   
</table>
</div>