<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
<script type="text/javascript" src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js">
</script> -->


<!--
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: 100vh;
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  

 


  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style> 

 Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span><h6 style="text-align: center; ">{{title}} : Welcome to Learners Academy </h6> </span>
    <div class="spacer"></div>
    <ul style="align-items: center;" type="square" > 

      <li style="padding-top: 20px;"><a href="http://localhost:4200/" style="color: honeydew;">Home</a></li>

    
    </ul>
      <!--<li ><a routerLink="/login" style="color: honeydew;">Login</a></li></ul> -->

  <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
    
    <svg id="twitter-logo" height="24" data-name="Logo — FIXED" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
      <defs>
        <style>
          .cls-1 {
            fill: none;
          }

          .cls-2 {
            fill: #ffffff;
          }
        </style>
      </defs>
      <rect class="cls-1" width="400" height="400" />
      <path class="cls-2" d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
      />
    </svg>
    
  </a>
</div>

<div class="heading"></div>
 
 <div>
  <br/>
<br/>
  <!--<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown Button
    </button></div>
    <div class="dropdown-menu" aria-labelledby="dropdownmenu">
      <a class="dropdown-item" href="#">Dropdown One</a>
      <a class="dropdown-item" href="#">Dropdown Two</a>
      <a class="dropdown-item" href="#">Dropdown Three</a>
      </div> -->
      
  <!--<ul id="a1">
    <li><a routerLink="/addStudent">Add Student</a></li>
    <li><a routerLink="/updateStudent">Update Student</a></li>
    <li><a routerLink="/StudentList">All Student List</a></li>
    <li><a routerLink="/searchStudent">Search Student By Id</a></li>
    <li><a routerLink="/deleteStudent">Delete Student By Id</a></li>
    <br/>
    <li><a routerLink="/addclass">Add Class</a></li>
    <li><a routerLink="/updateClass">Update Class</a></li>
    <li><a routerLink="/classlist">Class & Student List</a></li>
    <li><a routerLink="/searchClass">Search Class By Id</a></li>
    <li><a routerLink="/updatestuClass">Update Class & student information</a></li>
    <li><a routerLink="/deleteclass">Delete Class By Id</a></li>
    <li><a routerLink="/subjectClass">Subject & Class List</a></li>
    <br/>
    <li><a routerLink="/addTeacher">Add Teacher</a></li>
    <li><a routerLink="/updateTeacher">Update Teacher</a></li>
    <li><a routerLink="/teacherlist">All teacher List</a></li>
    <li><a routerLink="/searchTeacher">Search Teacher By Id</a></li>
    <li><a routerLink="/stuteachlist">Teacher & Student List</a></li>    
    <li><a routerLink="/deleteTeacher">Delete Teacher By Id</a></li>
    <br/>
    <li><a routerLink="/addSubject">Add Subject</a></li>
    <li><a routerLink="/updateSubject">Update Subject</a></li>
    <li><a routerLink="/SubjectList">All Subject List</a></li>
    <li><a routerLink="/searchSubject">Search Subject By Id</a></li>
    <form class="form-signin" #form1="ngForm" (ngSubmit)="validateLogin(form1)">
    <li *ngIf="form1.submitted && isValidUser && admin"><a routerLink="/deleteSubject">Delete Subject By Id</a></li>
  </form>
    <li><a routerLink="/teacherSubject">Teacher & Subject List</a></li>
    <br/>
    <li><a routerLink="/userList">All Users List</a></li>
    <li><a routerLink="/adduser">Registation</a></li>
    <li><a routerLink="/deleteUser">Delete User</a></li>
    <li><a routerLink="/login">Login</a></li>

  </ul> -->
 
  <div *ngIf="!isShowDivIf">
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Sign In to enter the Academy</h5>
                
                <form class="form-signin" #form1="ngForm" (ngSubmit)="validateLogin(form1)">
                  <div class="form-label-group">
                    <input type="text" id="inputUsername" name="inputUsername" class="form-control" placeholder="Username" required autofocus [(ngModel)]="user.username">
                    <label for="inputUsername">Username</label>
                  </div>
    
                  <div class="form-label-group">
                    <input type="password" id="inputPassword" name="inputPassword"class="form-control" placeholder="Password" required [(ngModel)]="user.password">
                    <label for="inputPassword">Password</label>
                  </div>
                 
                  
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                  <div class="wrapper" style="text-align:center;">
                  <span style="align-items: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-decoration: midnightblue;"> Don't have a account|| Register Below </span> <br/><br/>
                  <button style="align-items: center;" type="button" class="btn btn-info" (click)="hidemenu()"> <a routerLink="/adduser" style="color: honeydew;">Register</a> </button>
                 
              </div>
              <div class="wrapper" style="text-align:center;">
                  <span *ngIf="form1.submitted && isValidUser">Login Successful</span>
                  <span *ngIf="form1.submitted && !isValidUser">Incorrect</span>
                  <br/>
                  <span *ngIf="form1.submitted && isValidUser && admin">Welcome Admin</span>
    
                 <!-- <button *ngIf="form1.submitted && isValidUser" (click)="onsuccesslogin()">Proceed</button> -->
                 <button *ngIf="form1.submitted && isValidUser" (click)="toggleDisplayDivIf()">Proceed</button>
              </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
    <div *ngIf="isShowDiv">
    <div *ngIf="  isShowDivIf">
    <!-- <h3 style="text-decoration: underline;">User Login</h3> -->
    
    <div style="align-items: center;">
      <div class="wrapper" style="text-align:center;">
        <span *ngIf="admin"> <h4>Admin Space</h4></span>
        <span style="text-decoration:darkgreen underline;color: teal;"><h5>Welcome "{{user.username}}"</h5></span>
        
        <table class="table table-sm"  style="width: 50%;align-items: center;">
          <td>
        <div class="container">
         
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><b>Students</b>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngIf="isValidUser && admin"><a routerLink="/addStudent">Add Student</a></li>
        <li *ngIf="isValidUser"><a routerLink="/StudentList">All Student List</a></li>
         <li *ngIf="isValidUser && admin"><a routerLink="/updateStudent">Update Student</a></li>
        
        <li *ngIf="isValidUser"><a routerLink="/searchStudent">Search Student By Id</a></li>
        <li *ngIf="isValidUser && admin"><a routerLink="/deleteStudent">Delete Student By Id</a></li>
            </ul>
          </div>
        </div>
      </td>

      <td>
        <div class="container">
         
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><b>Class</b>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngIf="isValidUser && admin"><a routerLink="/addclass">Add Class</a></li>
              <li *ngIf="isValidUser && admin"><a routerLink="/updateClass">Update Class</a></li>
              <li *ngIf="isValidUser"><a routerLink="/classlist">Class & Student List</a></li>
              <li *ngIf="isValidUser"><a routerLink="/searchClass">Search Class By Id</a></li>
              <li *ngIf="isValidUser && admin"><a routerLink="/updatestuClass">Update Class & student information</a></li>
              <li *ngIf="isValidUser && admin"><a routerLink="/deleteclass">Delete Class By Id</a></li>
              <li *ngIf="isValidUser"><a routerLink="/subjectClass">Subject & Class List</a></li>
            </ul>
          </div>
        </div>
      </td>

        <td>
          <div class="container"> 
         
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> <b>Teacher</b>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngIf="isValidUser && admin"><a routerLink="/addTeacher">Add Teacher</a></li>
              <li *ngIf="isValidUser && admin"><a routerLink="/updateTeacher">Update Teacher</a></li>
              <li *ngIf="isValidUser"><a routerLink="/teacherlist">All teacher List</a></li>
              <li *ngIf="isValidUser"><a routerLink="/searchTeacher">Search Teacher By Id</a></li>
              <li *ngIf="isValidUser"><a routerLink="/stuteachlist">Teacher & Student List</a></li>    
              <li *ngIf="isValidUser && admin"><a routerLink="/deleteTeacher">Delete Teacher By Id</a></li>
            </ul>
          </div>
        </div> 
      </td>
        <td>
        <div class="container">
         
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> <b>Subject</b>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              
        <li *ngIf="isValidUser && admin"><a routerLink="/addSubject">Add Subject</a></li>
        <li *ngIf="isValidUser && admin"><a routerLink="/updateSubject">Update Subject</a></li>
        <li *ngIf="isValidUser"><a routerLink="/SubjectList">All Subject List</a></li>
        <li *ngIf="isValidUser"><a routerLink="/searchSubject">Search Subject By Id</a></li>
        <li *ngIf="isValidUser && admin"><a routerLink="/updatesubclass">Update Class & Subject information</a></li>
       
        <li *ngIf="isValidUser && admin"><a routerLink="/deleteSubject">Delete Subject By Id</a></li>
      
        <li *ngIf="isValidUser"><a routerLink="/teacherSubject">Teacher & Subject List</a></li>
            </ul>
          </div>
         
        </div> 
      </td>
        <td>
          <div class="container">
          
          <div class="dropdown" *ngIf="isValidUser && admin">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"> <b>User Control</b>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngIf="isValidUser"><a routerLink="/userList">All Users List</a></li>
              <li *ngIf="isValidUser && admin"><a routerLink="/adduser">Registation</a></li>
              <li *ngIf="isValidUser && admin"><a routerLink="/deleteUser">Delete User</a></li>
            </ul>
          </div>
        </div>
      </td>
     
      </table>
      </div>
    </div>
    
    </div>
  </div>
</div>




  <div align="center">
    <router-outlet></router-outlet>
  </div>