<div>
    <h3 style="text-decoration: underline;">Add Class</h3>
    <table border="1px">



        <tr>
            <td><input type="text" [(ngModel)]="Class.ClassName" placeholder="Enter Class Name"></td>
        </tr>


      

    </table>
    <button (click)="createClass()">Create</button>
</div>