<div>
    <h3 style="text-decoration: underline;">Add Student</h3>
    <table border="1px">



        <tr>
            <td><input type="text" [(ngModel)]="student.StudentName" placeholder="Enter Student Name"></td>
        </tr>


        <tr>
            <td><input type="text" [(ngModel)]="student.StudentCourse" placeholder="Enter Student Course"></td>
        </tr>

        <tr>
            <td><input type="text" [(ngModel)]="student.StudentPhone" placeholder="Enter Student Contact"></td>
        </tr>

    </table>
    <button (click)="createStudent()">Create</button>
</div>