<!--
<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! 
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signin" #form1="ngForm" (ngSubmit)="createRegistration(form1)">
              <div class="form-label-group">
                <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus [(ngModel)]="user.username">
                <label for="inputUserame">Username</label>
              </div>

              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required [(ngModel)]="user.email">
                <label for="inputEmail">Email address</label>
              </div>
              
              <hr>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required [(ngModel)]="user.password" >
                <label for="inputPassword">Password</label>
              </div>
              
              <div class="form-label-group">
                <input type="text" id="admin" class="form-control" placeholder="Are you admin (true/false)" required [(ngModel)]="user.is_admin" >
                <label for="admin">Admin</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
              <a class="d-block text-center mt-2 small" href="http://localhost:4200/login">Sign In</a>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
-->



<div>
    <h3 style="text-decoration: underline;">Please register yourself</h3>
    <table border="1px"> 



     

        <tr>
            <td><input type="text" [(ngModel)]="user.username" placeholder="Enter username"></td>
        </tr>

        <tr>
            <td><input type="text" [(ngModel)]="user.email" placeholder="Enter email"></td>
        </tr>
        <tr>
            <td><input type="password" [(ngModel)]="user.password" placeholder="Enter password"></td>
        </tr>
        <tr>
            <td><input type="text" [(ngModel)]="user.is_admin" placeholder="Are you admin (true/false)"></td>
        </tr>

    </table>
    <button (click)="createRegistration()">Create</button>
    <a class="d-block text-center mt-2 small" href="http://localhost:4200/"> Already a user Sign In</a>
    <p id="t1"></p>



</div> 