
<div>
<h3>Student Search By Id</h3>
<input type="number" [(ngModel)]="id"/>
<button (click)="getStudentsById()">Fetch Student By Id</button>
<table class="table table-sm" border="1" style="width: 50%;">
<tr class="thead-dark">
    <tr>
        <th>
            StudentId
        </th>
        <th>
            StudentName
        </th>
        <th>
            StudentCourse
        </th>
        <th>
            StudentPhone
        </th>
    </tr>  
    <tr *ngFor="let student of students">
        <td>{{student.studentId}}</td>
        <td>{{student.studentName}}</td>
        <td>{{student.studentCourse}}</td>
        <td>{{student.studentPhone}}</td>
    </tr>   
</table>
</div>