<div>
    <h3 style="text-decoration: underline;">Add Subject</h3>
    <table border="1px">



        <tr>
            <td><input type="text" [(ngModel)]="subject.SubjectName" placeholder="Enter Subject Name"></td>
        </tr>


      

       

    </table>
    <button (click)="createSubject()">Create</button>
</div>