
<div>
    <table border="solid 0.5px">
        <tr>
        <th>
            TeacherId
        </th>
        <th>
            TeacherName
        </th>
        <th>
            Address
        </th>
        <th>
            Contact
        </th>
        <th>
            Specialized
        </th>
    </tr>  
    <tr *ngFor="let t of teacher">
        <td>{{t.teacherId}}</td>
        <td>{{t.name}}</td>
        <td>{{t.address}}</td>
        <td>{{t.contact}}</td>
        <td>{{t.specialized}}</td>
    </tr>    
    </table>
    <h3>Delete Teacher By Id</h3>
    <input type="number" [(ngModel)]="id"/>
    <button (click)="deleteTeacher()">Delete Teacher By Id</button>

    
    </div>